<div class="sidebar d-flex flex-row">
    <div class="d-flex flex-column flex-shrink-0 text-center" style="width: 70px; background: #0D28A6;">
        <img src="/img/icon1.png" alt="icon1" style="width: 34px; height: 34px; margin: 18px 18px;">
        <div>
            <a href="/" class="text-decoration-none">
                <img src="/img/fi_home.svg" alt="fi_home" class="img-icon"><p class="text-header">Dashboard</p>
            </a>
        </div>
        <div style="background: rgba(255, 255, 255, 0.3);">
            <a href="/cars" class="text-decoration-none">
                <img src="/img/fi_truck.svg" alt="fi_truck" class="img-icon"><p class="text-header">Cars</p>
            </a>
        </div>
    </div>
    <div class="d-flex flex-column flex-shrink-0 bg-white" style="width: 220px;">
        <img src="/img/icon2.png" alt="icon2" style="width: 100px; height: 34px; margin: 20px 22px;">
        <div class="box-list ps-4 mt-1 pt-3">
            <a href="/" class="text-decoration-none text-body"><p class="text-sidebar">Cars</p></a>
        </div>
        <div class="box-list ps-4 pt-3 mt-3" style="background: #CFD4ED;">
            <a href="/cars" class="text-decoration-none text-body"><p class="text-active">List Car</p></a>
        </div>
    </div>
</div>